{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-sm-4">
                <h3>I am a heading1</h3>
                <p>dummy text 1</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>I am a heading2</h3>
                <p>dummy text 2</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
            <div class="col-sm-4">
                <h3>I am a search form</h3>
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
            </div>
        </div>

{% endblock %}

