<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<div class="wrapper fadeInDown">
  <div id="formContent">

        <nav class="navbar navbar-light bg-light">
            Rain forecast
          <a class="navbar-brand" href="index.html">Home</a>
          <a class="navbar-brand" href="signin.html">Sign in</a>
        </nav>


    <div class="fadeIn first">
      <img src="../static/logo.PNG" width="30" height="30"  alt="User Icon" />
    </div>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email address">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Submit">
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>

</div></body>



</html>